@import url(__container/page__container.css);
@import url(__header/page__header.css);
@import url(__content/page__content.css);

.page {
  background-color: #2A2C2F;
  color: #fff;
  margin: 0;
  padding: 0;
}