@import url(__image/places__image.css);
@import url(__paragraph/places__paragraph.css);
@import url(__place/places__place.css);
@import url(__title/places__title.css);
@import url(__website/places__website.css);
@import url(__url-heading/places__url-heading.css);
@import url(__link/places__link.css);

.places {
  flex-shrink: 0;
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-gap: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}

@media screen and (max-width: 1023px) {
  .places {
    grid-gap: 73px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    grid-gap: 50px;
    padding: 0;
  }
}