.intro__list {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 33px 0 0 0;
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-top: 34px;
    max-width: 288px;
  }
}