.lead {
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}

  @media screen and (max-width: 1023px) {
    .lead {
      max-width: 100%;
    }
}
  
  @media screen and (max-width: 767px) {
    .lead {
      max-width: 100%;
    }
}