.comment {
  display: flex;
  flex-direction: column;
  max-width: 382px;
  margin: 0 19px 0 0;
}

@media screen and (max-width: 1279px) {
  .comment{
    max-width: 296px;
  }
}

@media screen and (max-width: 1023px) {
  .comment{
    margin: 0 0 48px 0;
  }
}

@media screen and (max-width: 425px) {
  .comment {
    max-width: 343px;
  }
}

@media screen and (max-width: 374px) {
  .comment {
    max-width: 288px;
  }
}