.video__item_2 {
  min-height: 323px;
  background-image: url('../../../images/observatory.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .video__item_2 {
    min-height: 288px;
  }
}

@media screen and (max-width: 1023px) {
  .video__item_2 {
    min-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .video__item_2 {
    min-height: 192px;
  }
}