.page__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1279px){
  .page__footer {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px){
  .page__footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px){
  .page__footer {
    flex-direction: column;
    padding: 0 16px;
  }
}